*{
    margin: 0;
    padding: 0;
}
 
.icon{
    background: url('download.png') no-repeat;
    width: 64px; 
    height: 64px; 
    background-size: 80%;
}

 
.facebook { background-position: 0 0; }
.instagram { background-position: 50% -0;  }
.twitter { background-position: -0px -32px; width: 32px; height: 32px; }
.youtube { background-position: -32px -32px; width: 32px; height: 32px; }