*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0; 
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.facebook, .instagram, .twitter, .youtube
{ display: inline-block;  ;background: url('download.png') no-repeat;  overflow: hidden; text-indent: -9999px; text-align: left; }
 
.facebook {width: 25.6px;
    height: 25.6px;
    background-size: 197% 193%;
    background-position: -0px -0px;}

.instagram { background-position: -32px -0px; width: 32px; height: 32px; }
.twitter {width: 25.6px;
    height: 25.6px;
    background-size: 197% 101%;
    background-position: -0px -12.8px;
}
.youtube { background-position: -32px -32px; width: 32px; height: 32px; }


/* menu style */

nav{
    background: #333;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

nav a:hover{
    background-color: #555;
}


/* flex style */

@media screen and (min-width: 768px){

    nav ul{
        display: flex;
    }

    nav li{
        flex: 1 1 0;
    }

}
